[submodule "driver-examples/mss/mpfs-hal/mpfs-hal-coremark/src/middleware/coremark"]
	path = driver-examples/mss/mpfs-hal/mpfs-hal-coremark/src/middleware/coremark
	url = https://github.com/eembc/coremark.git
