/aries-m100pfsevp-envm-release/
/custom-board-debug/
/ddr-hs-base-board-ddr3-debug/
/ddr-hs-base-board-ddr3-envm/
/ddr-hs-base-board-ddr4-debug/
/ddr-hs-base-board-ddr4-release/
/eNVM-Release-sev-kit/
/eNVM-scratchpad-Release-Icicle-Kit/
/eNVM-scrathpad-Release-Icicle-Kit-ddr-666MHz/
/iof-max-verification-board-lpddr3-debug/
/iof-max-verification-board-lpddr3-envm/
/LIM-Debug-aries-m100pfsevp/
/LIM-Debug-Icicle-kit/
/LIM-Debug-sev-kit/
/peripheral-base-board-x16-debug/
/peripheral-base-board-x32-debug/
/peripheral-base-board-x16-envm/
/peripheral-base-board-x32-envm/
/Icicle-Kit-eNVM-Scratchpad-Release/
/Icicle-Kit-LIM-Debug/
/Custom-Board-LIM-Debug/
/DDR3-LIM-Debug/
/DDR3-eNVM-Scratchpad-Release/
/DDR4-LIM-Debug/
/Aries-m100pfsevp-eNVM-Scratchpad-Release/
/Aries-m100pfsevp-LIM-Debug/
/Icicle-Kit-DDR-666MHz-eNVM-Scratchpad-Release/
/DDR4-eNVM-Scratchpad-Release/
/LPDDR3-LIM-Debug/
/LPDDR3-eNVM-Scratchpad-Release/
/LPDDR4-x16-LIM-Debug/
/LPDDR4-x16-eNVM-Scratchpad-Release/
/LPDDR4-x32-LIM-Debug/
/LPDDR4-x32-eNVM-Scratchpad-Release/
/SEV-Kit-LIM-Debug/
/SEV-Kit-eNVM-Scratchpad-Release/
/mpfs-tp4100-800Hz/
/mpfs-tp4100-666Hz/
/beagle-v-fire-LIM-Debug/
/beagle-v-fire-eNVM-Scratchpad-Release/
/src/boards/*/fpga_design_config/**