/Icicle-kit-coremark-stack-in-lim-debug/
/Icicle-kit-coremark-stack-in-scratchpad-debug/
/Icicle-kit-payload-u54-1/
/Icicle-kit-payload-u54-2/
/Icicle-kit-payload-u54-3/
/Icicle-kit-payload-u54-4/
/Icicle-kit-run-from-scratchpad-envm/