/.settings*/
/src/boards/*/fpga_design_config/**
/*-Debug/
/*-Release//*-Release//Debug/
/Debug/
/Debug - BeagleV-Fire/
/Debug-BeagleV-Fire/
/Debug - Icicle Kit/
/Debug-Discovery-Kit/
/Debug-Icicle-Kit/
/Release/
